In [2]:
# üìò Fraud Detection Starter Notebook

# üëá STEP 1: Load dataset
import pandas as pd
url = "https://raw.githubusercontent.com/Patrick0481/Data-science-for-business/refs/heads/main/fraud_detection_dataset.csv"
fraud_df = pd.read_csv(url)

In [3]:

# üëÄ STEP 2: Preview data
fraud_df.head()

,Transaction_ID,Customer_ID,Account_Age_Months,Customer_Age,Gender,Marital_Status,Income_Level,Occupation,Device_Type,Is_Registered_Device,...,Velocity_Score,Device_OS,Card_Type,Card_Tier,Foreign_Transaction,Currency_Conversion_Rate,Customer_Segment,Loyalty_Status,Risk_Score,Is_Fraud
0,1,CUST10000,93,32,Other,Single,Low,Retired,Mobile,Yes,...,0.82,Linux,Debit,Basic,No,1.09,Retail,Bronze,0.23,0
1,2,CUST10001,135,38,Male,Divorced,High,Professional,POS_Terminal,Yes,...,0.72,Windows,Debit,Basic,No,1.08,Business,Silver,0.09,0
2,3,CUST10002,213,33,Female,Married,Low,Service,Desktop,Yes,...,1.14,Windows,Prepaid,Gold,No,1.02,Retail,Gold,0.57,1
3,4,CUST10003,219,52,Female,Divorced,Low,Student,Mobile,Yes,...,1.03,iOS,Debit,Platinum,No,1.13,Retail,Silver,0.23,0
4,5,CUST10004,108,61,Male,Single,Low,Student,Desktop,Yes,...,0.75,Android,Prepaid,Gold,No,1.11,Business,Gold,0.03,0

In [4]:
# üìè STEP 3: Basic dataset info
fraud_df.info()
fraud_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Transaction_ID                5000 non-null   int64
 1   Customer_ID                   5000 non-null   object
 2   Account_Age_Months            5000 non-null   int64
 3   Customer_Age                  5000 non-null   int64
 4   Gender                        5000 non-null   object
 5   Marital_Status                5000 non-null   object
 6   Income_Level                  5000 non-null   object
 7   Occupation                    5000 non-null   object
 8   Device_Type                   5000 non-null   object
 9   Is_Registered_Device          5000 non-null   object
 10  Transaction_Type              5000 non-null   object
 11  Merchant_Category             5000 non-null   object
 12  Location_Match                5000 non-null   object
 13  Country_Match                 5000 non-null   object
 14  IP_Risk_Score                 5000 non-null   float64
 15  Amount                        5000 non-null   float64
 16  Time_of_Day                   5000 non-null   object
 17  Day_of_Week                   5000 non-null   object
 18  Is_Weekend                    5000 non-null   object
 19  Is_Holiday                    5000 non-null   object
 20  Num_Past_Transactions         5000 non-null   int64
 21  Avg_Transaction_Amount_30d    5000 non-null   float64
 22  Num_Failed_Login_24h          5000 non-null   int64
 23  Past_Fraud_Flag               5000 non-null   object
 24  Card_Swipe_Error              5000 non-null   object
 25  Transaction_Duration_Seconds  5000 non-null   int64
 26  Velocity_Score                5000 non-null   float64
 27  Device_OS                     5000 non-null   object
 28  Card_Type                     5000 non-null   object
 29  Card_Tier                     5000 non-null   object
 30  Foreign_Transaction           5000 non-null   object
 31  Currency_Conversion_Rate      5000 non-null   float64
 32  Customer_Segment              5000 non-null   object
 33  Loyalty_Status                5000 non-null   object
 34  Risk_Score                    5000 non-null   float64
 35  Is_Fraud                      5000 non-null   int64
dtypes: float64(6), int64(7), object(23)
memory usage: 1.4+ MB

,Transaction_ID,Account_Age_Months,Customer_Age,IP_Risk_Score,Amount,Num_Past_Transactions,Avg_Transaction_Amount_30d,Num_Failed_Login_24h,Transaction_Duration_Seconds,Velocity_Score,Currency_Conversion_Rate,Risk_Score,Is_Fraud
count,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,118.974600,45.430800,0.28633,97.189606,49.965000,74.778678,0.484400,148.669400,0.997904,1.099674,0.286968,0.039800
std,1443.520003,69.390888,16.281334,0.16268,98.692472,7.093253,20.490778,0.707288,86.134501,0.201888,0.050141,0.160526,0.195509
min,1.000000,1.000000,18.000000,0.00000,0.000000,24.000000,13.300000,0.000000,2.000000,0.300000,0.930000,0.000000,0.000000
25%,1250.750000,59.000000,31.000000,0.16000,28.470000,45.000000,60.805000,0.000000,75.000000,0.860000,1.070000,0.160000,0.000000
50%,2500.500000,118.500000,45.000000,0.26000,67.775000,50.000000,74.595000,0.000000,147.500000,1.000000,1.100000,0.270000,0.000000
75%,3750.250000,179.000000,59.000000,0.39000,131.827500,55.000000,88.622500,1.000000,224.000000,1.130000,1.130000,0.390000,0.000000
max,5000.000000,239.000000,74.000000,0.92000,971.610000,77.000000,147.450000,4.000000,299.000000,1.700000,1.300000,0.970000,1.000000

In [ ]:
# ‚úÖ Prompt:- these are just to help you start with the case analysis.
# "What are the most common transaction types and device types among fraud cases?"
# "Which features show imbalance or potential data quality issues?"
# "Is there a significant difference in average amount between fraud and non-fraud transactions?"

In [ ]:
# Check for missing values and duplicates
print(fraud_df.isnull().sum())
print(fraud_df.duplicated().sum())

In [ ]:
# Summary stats
print(fraud_df.describe())

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

#Distribution of amounts in transactions
sns.histplot(df["Amount"], bins=20)
plt.title("Distribution of amounts in transactions")
plt.show()